footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
footer p{
    text-align: center;
    margin-top: 1rem;
    line-height: 30px;
    font-weight: 400;
    font-size: 20px;
}