<app-header
  [logo]="logo"
  [userLogin]="userLogin"
  [userImage]="userImage"
></app-header>
<section class="visitor-detail">
  <h4>Meeting with Software Vendor</h4>
  <h6>16/08/2023</h6>
  <p>
    2:30PM <mat-icon class="icon" fontIcon="arrow_forward"></mat-icon> 3:30PM
    (30 minutes)
  </p>
  <p>Venue: NFL Board Room</p>
  <p>Participants: Ali, Shahid, Azhar</p>
  <h5>Visitor details</h5>
  <form action="" class="visitor-detail-form">
    <input type="text" name="" id="" placeholder="Talha Ahmad">
    <input type="number" name="" id="" placeholder="CNIC No.">
    <input type="text" placeholder="Address">
    <input type="number" placeholder="0123-1234567">
    <input type="email" placeholder="talha@xyz.com">
    <input type="number" placeholder="Age">
<input type="text" placeholder="Gender">
<input type="text" placeholder="Company Name">
<label class="switch">
    <span class="text">Add Vehicle</span>
    <input type="checkbox" checked>
    <span class="slider round"></span>
  </label>
  
<input type="text" placeholder="Make">
<input type="text" placeholder="Model">
<input type="text" placeholder="Color">
<input type="text" placeholder="Registration Number">
  </form>
  <div class="buttons">
    <button>Cancel</button>
    <button>Submit</button>
  </div>
</section>
<app-footer></app-footer>
