<app-header
  [logo]="logo"
  [userLogin]="userLogin"
  [userImage]="userImage"
></app-header>
<section class="visitor-detail">
  <h4>Meeting with Software Vendor</h4>
  <h6>16/08/2023</h6>
  <p>
    2:30PM <mat-icon class="icon" fontIcon="arrow_forward"></mat-icon> 3:30PM
    (30 minutes)
  </p>
  <p>Venue: NFL Board Room</p>
  <p>Participants: Ali, Shahid, Azhar</p>
  <h5>Visitor details</h5>
  <form action="" class="visitor-detail-form">
    <div class="input-container">
      <input type="text" name="name" id="name" placeholder="Talha Ahmad" />
      <label class="placeholder" for="name">Talha Ahmad</label>
    </div>
    
    <div class="input-container">
      <input type="number" name="cnic" id="cnic" placeholder="CNIC No." />
      <label class="placeholder" for="cnic">CNIC No.</label>
    </div>
    
    <div class="input-container">
      <input type="text" placeholder="Address" />
      <label class="placeholder" for="address">Address</label>
    </div>
    
    <div class="input-container">
      <input type="number" placeholder="0123-1234567" />
      <label class="placeholder" for="phone">0123-1234567</label>
    </div>
    
    <div class="input-container">
      <input type="text" placeholder="talha@xyz.com" />
      <label class="placeholder" for="email">talha@xyz.com</label>
    </div>
    
    <div class="input-container">
      <input type="number" placeholder="Age" />
      <label class="placeholder" for="age">Age</label>
    </div>
    
    <div class="input-container">
      <input type="text" placeholder="Gender" />
      <label class="placeholder" for="gender">Gender</label>
    </div>
    
    <div class="input-container">
      <input type="text" placeholder="Company Name" />
      <label class="placeholder" for="company">Company Name</label>
    </div>
    
      <label class="switch">
        <span class="text">Add Vehicle</span>
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
   
    
    <div class="input-container">
      <input type="text" placeholder="Make" />
      <label class="placeholder" for="make">Make</label>
    </div>
    
    <div class="input-container">
      <input type="text" placeholder="Model" />
      <label class="placeholder" for="model">Model</label>
    </div>
    
    <div class="input-container">
      <input type="text" placeholder="Color" />
      <label class="placeholder" for="color">Color</label>
    </div>
    
    <div class="input-container">
      <input type="text" placeholder="Registration Number" />
      <label class="placeholder" for="reg_number">Registration Number</label>
    </div>
    
  </form>
  <div class="buttons">
    <button>Cancel</button>
    <button>Submit</button>
  </div>
</section>
<app-footer></app-footer>
