<app-header
  [logo]="logo"
  [userLogin]="userLogin"
  [userImage]="userImage"
></app-header>
<section class="pending-invitation">
  <h4>Meeting with Software Vendor</h4>
  <h6>16/08/2023</h6>
  <p>
    2:30PM <mat-icon class="icon" fontIcon="arrow_forward"></mat-icon> 3:30PM
    (30 minutes)
  </p>
  <p>Venue: NFL Board Room</p>
  <p>Participants: Ali, Shahid, Azhar</p>
  <div class="buttons">
    <button (click)="decline()">Decline</button>
    <button (click)="accept()">Accept</button>
  </div>
</section>
<!-- <app-footer></app-footer> -->
