<router-outlet></router-outlet>



<!-- <app-auth-page></app-auth-page> -->
<!-- <app-auth-page [logo]="logo"></app-auth-page>s -->
<!-- <app-new-meeting-details [logo]="logo" [userLogin]="userLogin" [userImage]="userImage"></app-new-meeting-details> -->
<!-- <app-thankyou [logo]="logo" [userLogin]="userLogin" [userImage]="userImage"></app-thankyou> -->
<!-- <app-pending-invite [logo]="logo" [userLogin]="userLogin" [userImage]="userImage"></app-pending-invite> -->
<!-- <app-visitor-details [logo]="logo" [userLogin]="userLogin" [userImage]="userImage"></app-visitor-details> -->
<!-- <app-response-send [logo]="logo" [userLogin]="userLogin" [userImage]="userImage"></app-response-send> -->
<!-- <app-meeting-confirm [logo]="logo" [userLogin]="userLogin" [userImage]="userImage"></app-meeting-confirm> -->
