section.pending-invitation {
  background-color: white;
  max-width: 87%;
  margin: auto;
  padding: 3rem 0 3rem 3rem;
  margin-top: 3rem;
  border-radius: 10px;
}
section.pending-invitation h4 {
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
}
section.pending-invitation h6 {
  font-weight: 700;
  font-size: 24px;
  margin: 1rem 0;
}
section.pending-invitation > p {
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center;
}
section.pending-invitation p .icon {
  margin: 0 1rem;
}
section.pending-invitation .buttons {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}
section.pending-invitation .buttons button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 55px;
}
section.pending-invitation .buttons button:first-child {
  background-color: #c4c4c4;
  color: #666666;
}
section.pending-invitation .buttons button:last-child {
  background-color: var(--purpal);
}

.input-container {
  position: relative;
  margin: 3rem 0 3rem;
}
.input-container input {
  border: 1px solid #d5d8de;
  border-radius: 5px;
  padding: 25px 0 18px 10px;
  width: 100%;
  box-sizing: border-box;
  transition-duration: 5s;
}
.input-container input:focus-visible {
  outline-color: var(--purpal);
}
.input-container input[type="text"]::placeholder {
  font-size: 16px;
  transform: translateY(0);
  transition: font-size 0.3s ease-in-out, transform 0.3s ease-in-out,
    color 0.3s ease-in-out;
  font-family: "Times New Roman", Times, serif;
}

.input-container input[type="text"]:focus::placeholder {
  font-size: 12px;
  transform: translateY(-115%);
}
.input-container label {
  display: none;
}
.input-container input[type="text"]:not(:placeholder-shown) + label {
  position: absolute;
  top: 10px;
  left: 11px;
  display: block;
  font-size: 12px;
  color: #877775;
  font-family: "Times New Roman", Times, serif;
}
.calender-section div:first-child {
  width: 20%;
}

.calender-section {
  display: flex;
  gap: 10rem;
}
.calender-section div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calender-section div:last-child label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0.5rem;
}
.calender-section div:last-child select {
  border: 1px solid #d5d8de;
  background: none;
  padding: 15px 32px;
  border-radius: 5px;
  margin-bottom: 4rem;
}
.calender-section div:last-child option {
  font-weight: 400;
  font-size: 16px;
}

.meeting-detailz {
  margin-top: 3rem;
  border: 1px solid var(--purpal);
  background-color: #ecebee;
  width: 50%;
  padding: 16px 33px;
  border-radius: 10px;
}
.meeting-detailz p{
  font-weight: 400;
  font-size: 16px;
}

@media (max-width:1024px) {
  .calender-section div:first-child {
    width: 40%;
  }
}
@media (max-width:628px) {
  .calender-section{
    flex-direction: column;
    gap: 0;
  }
  .calender-section div:first-child {
    width: 100%;
  }
  .meeting-detailz {
width: 75%;
  }
}@media (max-width:365px) {s
  section.pending-invitation{
    padding: 0;
  }
  section.pending-invitation .buttons {
  flex-direction: column;
  }
}